body {
  margin: 0;
}

html {
  background-color: #282c34;
}

.animal {
  width: 600px;
  height: 100%;
  border-radius: 10px;
  color: beige;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0.5px #3d9970 solid;
  box-shadow: 2px 2px 2px 1px #20242b;
  img {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #20242b;
  }
  &:hover {
    border: 1px solid #01ff70;
  }
}

.animalPage {
  color: beige;
  border: 1px solid #3d9970;
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 30px;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
  button {
    margin-bottom: 10px;
  }
  .desc {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
  }
  img {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #20242b;
  }
  button {
    background-color: beige;
    border: none;
    border-radius: 3px;
    font-size: 14pt;
    cursor: pointer;
    &:hover {
      background-color: bisque;
    }
  }
}

.animalDesc {
  width: 400px;
  margin: 0 auto;
  margin-top: 15px;
}

.animalList {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  padding-bottom: 60px;
  row-gap: 45px;
}
a {
  text-decoration: none;
  color: beige;
}

.header {
  height: 100px;
  // background-color: rgb(141, 124, 97);
  color: beige;
  font-size: 36pt;
}

.yearAndMedicine {
  position: absolute;
  width: 570px;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

.animalYearMed {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 900px;
  padding: 25px 0px 0px 45px;
}
